.content {
    padding: 20px;
  }
  
  .halo {
    font-size: 24px;
    color: #333;
  }
  
  .box {
    background-color: #f5f5f5;
    padding: 20px;
    margin-top: 20px;
  }
  
  .box h3 {
    color: #555;
    font-size: 18px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    padding: 10px;
    text-align: center;
  }
  
  .table th {
    background-color: #333;
    color: #fff;
  }
  
  .table td {
    border: 1px solid #333;
  }


  .logout {
    background-color: red;
    color: white;
    padding: 10px 20px;
    border-radius: 3px;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 120px;
   

    
  }
  .logout:hover {

    background-color: crimson;
  }
  
  