* {
    margin: 0;
    padding: 0;

}

/* warna latar belakang halaman */
body {
    background-color: #f0f0f0;
  }
  
  /* style untuk bagian formulir */
  .box-formulir {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 30px auto;
    max-width: 500px;
  }
  
  .box-formulir h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 30px;
  }
  
  /* style untuk inputan */
  .input_control {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    width: 100%;
    margin-bottom: 15px;
  }
  
  /* style untuk tombol */
  .btn {
    background-color: #1e90ff;
    color: white;
    padding: 10px 20px;
    border-radius: 3px;
    text-decoration: none;
    font-size: 16px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 120px;

    
  }

  .btn:hover{
    cursor: pointer;
    background-color: #4881ae;

}


  
  /* style untuk tabel form */
  .table-form {
    width: 100%;
  }
  
  .table-form td {
    padding: 5px;
    font-size: 16px;
    font-weight: bold;
  }
  
  .table-form input[type="radio"] {
    margin-right: 5px;
  }
  
 /* Mobile layout */
@media screen and (max-width: 767px) {
    /* Adjust the font size */
    body {
      font-size: 16px;
    }
    
    /* Adjust the padding of the heading */
    .box-formulir h2 {
      padding-left: 10px;
    }
    
    /* Center the form */
    .box-formulir form {
      display: flex;
      flex-direction: column;
      align-items: center;
      
      
    }
    
    /* Adjust the width of the form */
    .table-form {
      width: 90%;
    }
    
    /* Adjust the font size and margin of the input labels */
    .table-form td {
      font-size: 14px;
      margin-bottom: 5px;
    }
    
    /* Adjust the height of the inputs */
    .input_control {
      height: 35px;
    }
    
    
  }
  
  /* Mobile layout */
@media screen and (max-width: 767px) {
    /* Adjust the font size */
    body {
      font-size: 16px;
    }
    
    /* Reduce padding for the title */
    .awal {
        padding-left: 50px;
    }
    /* Adjust the padding of the heading */
    .box-formulir h2 {
      padding-left: 10px;
    }
    
    /* Center the form */
    .box-formulir form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    /* Adjust the width of the form */
    .table-form {
      width: 90%;
    }
    
    /* Adjust the font size and margin of the input labels */
    .table-form td {
      font-size: 14px;
      margin-bottom: 5px;
    }
    
    /* Adjust the height of the inputs */
    .input_control {
      height: 35px;
    }
    
    /* Center the submit button */
    .btn {
      margin-top: 20px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  /* Desktop layout */
  @media screen and (min-width: 768px) {
    /* Adjust the font size */
    body {
      font-size: 18px;
    }
    
    /* Adjust the padding of the heading */
    .box-formulir h2 {
      padding-left: 150px;
    }
    
    /* Adjust the width of the form */
    .table-form {
      width: 70%;
    }
    
    /* Adjust the font size and margin of the input labels */
    .table-form td {
      font-size: 16px;
      margin-bottom: 10px;
    }
    
    /* Adjust the height of the inputs */
    .input_control {
      height: 40px;
    }
    
    }
    
    .mutton {
      background-color: #1e90ff;
    color: white;
    padding: 10px 20px;
    border-radius: 3px;
    text-decoration: none;
    font-size: 16px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 120px;




    }